body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
}
h2 {
    font-family: 'Merriweather', serif;
}
h5 {
    font-family: 'Merriweather', serif;
}

h3 {
    font-family: 'Merriweather', serif;
}


.bg-header-fuas {
  background-color: #FFB800;
}

.logo-fuas {
  color: #cc3366;
  font-weight: 700;
  font-size: 2rem;
}

.slogan-mineduc {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: white;
}

.fuas-navbar {
  background-color: #000000;
  color: white;
}
.fuas-link {
  color: #fdfdfd; /* Azul institucional */
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.fuas-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.fuas-subtitle {
  font-size: 0.9rem;
}

.accordion .accordion-item {
  border-radius: 0 !important;
}
.accordion-button {
  border-radius: 0 !important;
}
.accordion-button {
  background-color: #1A1A1A !important; /* Rojo Bootstrap danger */
  color: white;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  background-color: #1A1A1A !important;
  color: white;
}
.accordion-body {
  background-color: white;
}